<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Find the best restaurants in town" />
    <meta name="theme-color" content="#293241"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <title>Foodsider - Find the best restaurants across the city</title>
  </head>
  <body>
    <a href="#to-main" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <nav-bar></nav-bar>
    </header>

    <main id="mainContent"></main>

    <footer-bar></footer-bar>
  </body>
</html>
